/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --pink: #F752E0;
    --lila: #460342;
    --weiß: #fff;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--lila);
    font-family: "Open Sans", sans-serif;
    color: #F752E0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}



/* Header */
.header{
  background-color: var(--lila);
  box-shadow: 1px 1px 5px 0px var(--pink);
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
}
/* Logo */
.logo{
  display: inline-block;
  color: var(--pink);
  font-size: 60px;
  margin-left: 10px;
  height: 75px;
  width: auto;
  padding: 10px;
}



/* Nav menu */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--lila);
  overflow: hidden;

}
.menu a{
  display: block;
  padding: 20px;
  color: var(--weiß);
  font-size: x-large;
}
.menu a:hover{
  background-color: var(--lila);
}

.menu b{
  display: block;
  padding: 20px;
  color: var(--weiß);
  font-size: x-large;
}
.menu b:hover{
  background-color: var(--lila);
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}




/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--pink);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--pink);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */






/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}



/* Responsiveness */
@media (min-width: 768px) {
  .nav{
      max-height: 100px;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--weiß);

  }

  .hamb{
      display: none;
  }
}

/* Kleines Bild für Bildschirme kleiner als 768px */
.small-screen-img {
  display: block;
  width: 100%;
}
.large-screen-img {
  display: none;
}

/* Großes Bild für Bildschirme mit einer Mindestbreite von 768px */
@media (min-width: 768px) {
  .small-screen-img {
      display: none;
  }
  
  .large-screen-img {
      display: block;
      width: 100%;
  }
}

article {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.large-text {
  font-size: 20px; /* Hier kannst du die gewünschte Schriftgröße einstellen */
  padding-bottom: 15px;
}
.btnzuApp{
  text-align: center;
}
.btn {
 
  border: none;
  background-color: var(--pink);
  color: white;
  padding: 15px 100px;
  font-size: 16px;
  cursor: pointer;
  width: 80%; 
  border-radius: 10px;
  margin-top: 20px;
}

#fotokartepf {
 width: auto;
 height: 50%;
 margin: 0 auto; /* Dies zentriert das Element horizontal */
 display: block; /

}




/* Für kleine Bildschirme */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content img {
  height: 65vh;
}



.punktliste {
  width: 100%; /* Ändern Sie die Breite der Punktliste nach Bedarf */
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;

}

.punktliste li {
  margin-bottom: 20px;
}

.punktliste h2 {
  font-size: 22px;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: left;
  text-decoration: underline;
}
.punktliste h3 {
  font-size: 22px; /* Ändern Sie die Schriftgröße der Überschriften nach Bedarf */
  padding-bottom: 10px;
  text-align: center;
}
.punktliste p {
  text-align: center;
}

/* Ab 768px Breite */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    padding-left: 75px;
    padding-right: 50px;
    padding-top: 50px;
    align-items: flex-start;

  }

  .content img {
    height: 100vh;
    width: auto;
    max-width: 50%; /* Ändern Sie die Breite des Bildes nach Bedarf */
    margin-top: -60px;
  }

  .punktliste {
    width: 100%; /* Ändern Sie die Breite der Punktliste nach Bedarf */
    list-style: none;
    padding-left: 40px;

  }

  .punktliste li {
    margin-bottom: 20px;
  }

  .punktliste h2 {
    font-size: 35px;
    padding-bottom: 50px;

  }
  .punktliste h3 {
    font-size: 25px; /* Ändern Sie die Schriftgröße der Überschriften nach Bedarf */
    padding-bottom: 20px;
    text-align: left;
  }
  .punktliste p {
    text-align: left;
    font-size: 20px;
  }
  .large-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px; /* Hier kannst du die gewünschte Schriftgröße einstellen */
  }
  
}
.divider {
  border: none; /* Entfernt die Standard-Rahmenlinie */
  border-top: 1px solid #F752E0; /* Legt die Strichfarbe und -dicke fest */
  margin: 20px 0; /* Fügt oben und unten einen Abstand hinzu */
}

.questions{
  text-align: center;
}
h2{
  font-size: 30px;
}
p{
  font-size: 20px;
  padding: 20px;
}
.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-question {
  padding: 10px;
  background-color: #f1f1f1;
  font-weight: bold;
}

.faq-answer {
  padding: 10px;
  display: none;
}











  /* CSS für den Footer */
  footer {
    background-color: #F752E0;
    height: 15vh;
    margin-top: 20px;
  }
  
  .footer-links {
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white; /* Weiße Schriftfarbe für die Links */
    margin: 20px;
  }

/* CSS für die Social-Media-Links */
.social-links {
  text-align: center; /* Rechts ausrichten */
}

.social-link {
  display: inline-block;
  margin: 15px 10px ; /* Abstand zwischen den Links (angepasst nach Bedarf), unten rechts */
}

/* Stil für die Social-Media-Icons */
.social-link img {
  width: 30px; /* Breite der Icons (angepasst nach Bedarf) */
  height: auto; /* Höhe der Icons (angepasst nach Bedarf) */
}

.copyright {
  color: white;
  font-size: 10px;
  margin-left: 20px;
  text-align: center;

}








@media (min-width: 768px) {
 /* CSS für den Footer */
 footer {
  background-color: #F752E0;
  height: 15vh;
  margin-top: 20px;
}

.footer-links {
  padding-top: 20px;
  font-size: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white; /* Weiße Schriftfarbe für die Links */
  margin: 20px; /* Abstand oben und unten 20px, links und rechts 20px (angepasst nach Bedarf) */
}

/* CSS für die Social-Media-Links */
.social-links {
text-align: right; /* Rechts ausrichten */
margin-bottom: 0;
}

.social-link {
display: inline-block;
margin: 20px 10px 0px 0px; /* Abstand zwischen den Links (angepasst nach Bedarf), unten rechts */
}

/* Stil für die Social-Media-Icons */
.social-link img {
width: 40px; /* Breite der Icons (angepasst nach Bedarf) */
height: auto; /* Höhe der Icons (angepasst nach Bedarf) */
}
/* CSS-Stil für den Urheberrechtshinweis */
.copyright p {
  font-size: 16px;
  color: white;
  font-size: 17px;
  margin-left: 20px;
  margin-top: -25px;
}
}

#cookiePopup {
  background-color: white;
  position: fixed;
  font-size: 14px;
  width: 100%;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  text-align: justify;
  line-height: 1.8em;
  padding: 0.5em 1.4em; /* Anpassung: Reduzierte Höhe auf 1em oben und unten */
  border-radius: 6px;
  transition: all 0.5s ease-in;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.hide {
  /* ... deine anderen Styles ... */
  /* Setze die Position unten rechts, sodass der Banner nach unten gleitet */
  position: fixed;
  bottom: 0;
  right: 2em;
  opacity: 0; /* Verstecke den Banner */
  pointer-events: none; /* Verhindere Klicks auf versteckten Banner */
  transform: translateY(100%); /* Schiebe den Banner aus dem Bildschirm */
}

.show {
  /* ... deine anderen Styles ... */
  /* Setze die Position unten rechts, sodass der Banner sichtbar wird */
  position: fixed;
  bottom: 2em;
  right: 2em;
  opacity: 1; /* Mache den Banner sichtbar */
  pointer-events: auto; /* Aktiviere Klicks auf sichtbarem Banner */
  transform: translateY(0); /* Zeige den Banner am unteren Rand */
}
#cookiePopup h2 {
  text-align: center;
  margin-top: 1em;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #F752E0;
  border: none;
  font-size: 1.2em; /* Anpassung: Größere Schriftgröße */
  padding: 1.2em 1.1em; /* Anpassung: Größere Polsterung */
  display: block;
  position: relative;
  margin: 0.4em auto; /* Anpassung: Verringert den vertikalen Abstand */
  border-radius: 5px;
}

#cookiePopup a {
  color: #6859fe;
  }
 .hide{
  visibility: hidden;
  bottom: 0;
  right: 2em;
 } 

  .show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}

@media only screen and (max-width: 37.5em) {
  #cookiePopup {
  width: 100%;
  }
  hide {
  bottom: 2em;
  right: 0;
  }
  .show {
  right: 0;
  bottom: 0;
  }
}
